@*<header class="container-fluid bg-dark">
*@
<nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark bg-dark box-shadow mb-3 position-fixed w-100">
    <div class="container-fluid">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">School Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @*<li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Students" asp-action="Index">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Instructors" asp-action="Index">Instructor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Courses" asp-action="Index">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Departments" asp-action="Index">Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </div>

     <div class="container pull-left">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                </div>
            <div class="navbar-collapse collapse navbar-collapse-left">
                <ul class="side-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li>
                        @*<a href="#demo" data-toggle="collapse">Magical Interface <span class="glyphicon glyphicon-plus"></span></a>

                            <button id="demo" href="@Url.Action("Index", "SPAin1Platform")" class="collapse btn-primary pull-right btn-lg">
                            SPA in 1 Platform
                            </button>*@

                         <input type="button" class="btn btn-primary" value="Magical Interface" onclick="window.location= '@Url.Action( "Index", "SPAin1Platform")'" />
                    </li>
                </ul>
            </div>
        </div>
</nav>
@*</header>
*@